<div class="brand-center-content-register-and-login row mx-0 mt-5 pt-0">
  <div
    class="col-md-6 d-md-none pt-md-5 justify-content-center align-items-center d-flex"
  >
    <div>
      <img
        src="../../assets/login_and_register/img1.png"
        alt="Descripción de la imagen"
        class="brand-only-phone img-login img-fluid"
      />
    </div>
  </div>
  <section class="col-md-6 text-center p-3">
    <form [formGroup]="form" class="d-flex flex-column">
      <h3 class="fw-bold m-0 p-0">Iniciar sesión</h3>
      <p class="mb-4">Ingresa tus credenciales para acceder:</p>

      <mat-form-field appearance="outline" class="mt-2">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          class="m-0 p-0"
        />
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="form.get('email')?.hasError('required')"
          >Email requerido</mat-error
        >
        <mat-error *ngIf="form.get('email')?.hasError('email')"
          >Email inválido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="mt-2">
        <mat-label>Contraseña</mat-label>
        <input
          [type]="!showPassword ? 'password' : 'text'"
          matInput
          formControlName="password"
        />
        <mat-icon matPrefix>lock</mat-icon>
        <button
          matSuffix
          mat-icon-button
          (click)="showPassword = !showPassword"
          class="mr-1"
        >
          <fa-icon [icon]="showPassword ? eyeOpen : eyeClose"></fa-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.hasError('required')"
          >Contraseña requerida</mat-error
        >
      </mat-form-field>

      <section class="d-flex row gap-md-0 gap-1 justify-content-end">
        <div class="col-12 col-md-5 col-lg-3">
          <button
            mat-fab
            extended="true"
            color="primary"
            class="w-100 mb-2"
            (click)="login()"
          >
            Iniciar sesión
          </button>
        </div>
      </section>

      <div>
        <a routerLink="/auth/recover-password" class="text-decoration-none"
          >¿Olvidaste tu contraseña?</a
        >
        <br />
        <span>¿No tienes una cuenta? </span>
        <a routerLink="/auth/register" class="text-decoration-none" tabindex="0"
          >Regístrate aquí</a
        >
      </div>
    </form>
  </section>

  <div class="col-md-6 justify-content-center align-items-center d-flex">
    <div>
      <img
        src="../../assets/login_and_register/img1.png"
        alt="Descripción de la imagen"
        class="brand-only-desktop img-fluid"
      />
    </div>
  </div>
</div>
