<app-nav-bar [userName]="userInfo?.email || ''" class="brand-fixed-top" />
<article class="d-flex">
  @if (isLoggedUser) {
    <app-side-bar
      [userRole]="userInfo?.role?.code || ''"
      class="brand-side-bar"
      (collapsed)="listenEvent($event)"
      [closeSideBar]="closeSideBar"
    ></app-side-bar>
  }
  <div
    class="app-container w-100"
    [ngClass]="{ 'overflow-hidden': !isCollapsedSideBar && isPhone }"
  >
    <main class="brand-router-outlet-container p-2 p-md-3">
      @if (!isCollapsedSideBar && isPhone) {
        <div
          class="router-outlet-overlay"
          (click)="closeSideBar = true; isCollapsedSideBar = true"
        ></div>
      }
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>
</article>
