<section class="row d-flex justify-content-center mx-0 my-5">
  <div class="col-12 col-md-6">
    <div class="text-center">
      <span class="brand-text-headline-l fw-medium">{{ title }}</span>
    </div>
    <div #chartContainer class="chart-container">
      <apx-chart
        #chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [stroke]="chartOptions.stroke"
        [fill]="chartOptions.fill"
        [legend]="chartOptions.legend"
        [tooltip]="chartOptions.tooltip"
      ></apx-chart>
    </div>
  </div>
</section>
