<div class="base-page-container w-100 m-0 m-auto position-relative">
  <button
    mat-stroked-button
    [routerLink]="previusUrl ? previusUrl : '../'"
    matTooltip="Volver"
    color="primary"
    class="position-absolute back-button"
  >
    <mat-icon class="d-flex justify-content-center align-items-center"
      >arrow_back</mat-icon
    >
    Volver
  </button>
  <article class="p-2 p-md-4 pt-5 pt-md-5">
    @if (title) {
      <header
        class="w-100 d-flex row base-page-header justify-content-between mx-0 mt-2"
      >
        <section class="d-flex flex-column col-12 col-md-6">
          <span class="brand-text-headline-l fw-medium">{{ title }}</span>
          <span class="brand-text-body-m text-black-50 fw-semibold">{{
            subtitle
          }}</span>
        </section>
        <div class="col-12 col-md-6 d-flex justify-content-end mt-3 mt-md-0">
          <ng-content select="[actions]"></ng-content>
        </div>
      </header>
    }

    <main class="base-page-content px-0 px-md-3">
      <ng-content select="[content]"></ng-content>
    </main>
  </article>
</div>
