<app-base-page
  title="Configuraciones"
  subtitle="Aquí puedes editar tu perfíl y cambiar tu contraseña"
  previusUrl="../../"
>
  <section content>
    @if (!pageLoading) {
      <mat-tab-group
        [(selectedIndex)]="selectedTabIndex"
        (selectedIndexChange)="onTabChange($event)"
      >
        <mat-tab [label]="'Perfíl'">
          <section class="row mx-0">
            <div class="col-12 col-md-6 p-3">
              <form [formGroup]="form">
                <mat-form-field
                  appearance="outline"
                  class="w-100 mt-3 mb-2 mt-md-0"
                >
                  <mat-label>Nombre completo</mat-label>
                  <input type="text" matInput formControlName="fullName" />
                  <mat-icon matPrefix>account_box</mat-icon>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  class="w-100 mt-3 mb-2 mt-md-0"
                >
                  <mat-label>Nombre de usuario</mat-label>
                  <input type="text" matInput formControlName="username" />
                  <mat-icon matPrefix>person</mat-icon>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  class="w-100 mt-3 mb-2 mt-md-0"
                >
                  <mat-label>Teléfono</mat-label>
                  <input type="text" matInput formControlName="phone" />
                  <mat-icon matPrefix>phone</mat-icon>
                  <mat-error *ngIf="form.get('phone')?.hasError('pattern')">
                    El número de celular debe empezar con 3 y tener 10 dígitos.
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  class="w-100 mt-3 mb-2 mt-md-0"
                >
                  <mat-label>Url de imagen</mat-label>
                  <input matInput formControlName="avatarUrl" />
                  <mat-icon matPrefix> insert_link</mat-icon>
                </mat-form-field>
              </form>
              <button
                mat-fab
                extended="true"
                type="button"
                color="primary"
                (click)="saveInfo()"
              >
                Guardar información
              </button>
            </div>
          </section>
        </mat-tab>

        <mat-tab [label]="'Contraseña'">
          <section class="row mx-0">
            <div class="col-12 col-md-6 p-3">
              <form [formGroup]="changePasswordForm">
                <mat-form-field
                  appearance="outline"
                  class="w-100 mt-3 mb-2 mt-md-0"
                >
                  <mat-label>Contraseña actual</mat-label>
                  <input
                    matInput
                    [type]="showOldPassword ? 'text' : 'password'"
                    formControlName="oldPassword"
                    placeholder="Ingresa tu contraseña actual"
                  />
                  <!-- <mat-icon matPrefix>lock_open</mat-icon> -->
                  <button
                    matSuffix
                    mat-icon-button
                    type="button"
                    (click)="toggleOldPasswordVisibility()"
                  >
                    <mat-icon>{{
                      showOldPassword ? 'visibility' : 'visibility_off'
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      changePasswordForm
                        .get('oldPassword')
                        ?.hasError('required')
                    "
                  >
                    La contraseña actual es requerida.
                  </mat-error>
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="w-100 mt-3 mb-2 mt-md-0"
                >
                  <mat-label>Nueva contraseña</mat-label>
                  <input
                    matInput
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="newPassword"
                    placeholder="Ingresa tu nueva contraseña"
                  />
                  <!-- <mat-icon matPrefix>lock</mat-icon> -->
                  <button
                    matSuffix
                    mat-icon-button
                    type="button"
                    (click)="togglePasswordVisibility()"
                  >
                    <mat-icon>{{
                      showPassword ? 'visibility' : 'visibility_off'
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      changePasswordForm
                        .get('newPassword')
                        ?.hasError('required')
                    "
                  >
                    La nueva contraseña es requerida.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      !changePasswordForm
                        .get('newPassword')
                        ?.hasError('required') &&
                      changePasswordForm
                        .get('newPassword')
                        ?.hasError('passwordStrength')
                    "
                    >La contraseña debe tener 6 caracteres, con mayúscula,
                    minúscula y un carácter especial.
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  class="w-100 mt-3 mb-2 mt-md-0"
                >
                  <mat-label>Confirmar nueva contraseña</mat-label>
                  <input
                    matInput
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    formControlName="confirmNewPassword"
                    placeholder="Confirma tu nueva contraseña"
                  />
                  <!-- <mat-icon matPrefix>lock</mat-icon> -->
                  <button
                    matSuffix
                    mat-icon-button
                    type="button"
                    (click)="toggleConfirmPasswordVisibility()"
                  >
                    <mat-icon>{{
                      showConfirmPassword ? 'visibility' : 'visibility_off'
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      changePasswordForm
                        .get('confirmNewPassword')
                        ?.hasError('required')
                    "
                  >
                    Es necesario confirmar tu nueva contraseña
                  </mat-error>
                  <mat-error
                    *ngIf="changePasswordForm.hasError('passwordMismatch')"
                  >
                    Las contraseñas no coinciden
                  </mat-error>
                </mat-form-field>
                <button
                  mat-fab
                  extended="true"
                  type="button"
                  color="primary"
                  (click)="onChangePassword()"
                >
                  Cambiar contraseña
                </button>
              </form>
            </div>
          </section>
        </mat-tab>
      </mat-tab-group>
    } @else {
      <div class="loader-container">
        <app-loader></app-loader>
      </div>
    }
  </section>
</app-base-page>
