<mat-card
  class="base-info-card h-100 w-100"
  matRipple
  [matRippleDisabled]="!ripple"
>
  <mat-card-header
    class="base-info-header mb-2 brand-text-headline-s fw-semibold pt-0 pb-3"
  >
    <ng-content select="[header]"></ng-content>
  </mat-card-header>
  <mat-card-content class="brand-text-body-m mt-2">
    <ng-content select="[content]"></ng-content>
  </mat-card-content>
  <hr class="mb-0" />
  <mat-card-actions class="d-flex justify-content-end">
    <ng-content select="[actions]"></ng-content>
  </mat-card-actions>
</mat-card>
