@if (!pageLoading) {
  <section>
    <app-base-card
      [withHeader]="false"
      [withActions]="false"
      [isProfileCard]="true"
    >
      <div content>
        <div class="profile-cover brand-border-radius">
          <div class="profile">
            <img
              [src]="
                user?.avatarUrl ||
                '../../../../assets/login_and_register/userdefault.png'
              "
              class="rounded-circle w-100 h-100"
              alt="Foto de usuario"
            />
          </div>
          <button
            mat-stroked-button
            [routerLink]="'../'"
            matTooltip="Volver"
            color="primary"
            class="position-absolute back-button text-white border border-1 fw-normal"
          >
            <mat-icon class="d-flex justify-content-center align-items-center"
              >arrow_back</mat-icon
            >
            Volver
          </button>
          <div class="d-flex justify-content-end pt-3 mx-3">
            @if (isPhone) {
              <button
                mat-icon-button
                class="bg-body-secondary text-black option-button text-center"
                [matMenuTriggerFor]="menu"
              >
                <mat-icon class="text-center">more_vert</mat-icon>
              </button>
            } @else {
              <button
                mat-fab
                extended="true"
                class="bg-body-secondary text-black option-button text-center"
                [matMenuTriggerFor]="menu"
              >
                <mat-icon class="text-center">more_vert</mat-icon>
                {{ isPhone ? '' : 'Opciones' }}
              </button>
            }
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                type="button"
                color="primary"
                [routerLink]="[userId + '/edit']"
              >
                Editar perfil
              </button>
              <button
                mat-menu-item
                type="button"
                color="primary"
                [routerLink]="[userId + '/settings']"
              >
                Configuración
              </button>
            </mat-menu>
          </div>
        </div>

        <div class="text-center d-flex flex-column gap-2">
          <span
            class="brand-text-headline-xxl fw-semibold text-decoration-underline"
            >{{ user?.fullName || 'usuario' }}</span
          >
          <span class="brand-text-body-l fw-medium text-black-50">{{
            '@' + user?.username || 'usuario'
          }}</span>
        </div>

        <section class="px-4 px-md-5 mt-3 d-flex flex-column gap-3">
          <div>
            <p class="fw-bold brand-text-headline-s text-decoration-underline">
              Información destacáda
            </p>
            <p class="brand-text-body-l">
              <strong>Identificación:</strong>
              <span class="fw-medium text-black-50">
                {{ user?.identification }}
              </span>
            </p>
            <p class="brand-text-body-l">
              <strong>Correo electrónico:</strong>
              <span class="fw-medium text-black-50">
                {{ user?.email }}
              </span>
            </p>
            <p class="brand-text-body-l">
              <strong>Teléfono:</strong>
              <span class="fw-medium text-black-50">
                {{ user?.phone }}
              </span>
            </p>
            <p class="brand-text-body-l">
              <strong>Miembro desde:</strong>
              <span class="fw-medium text-black-50">
                {{ user?.createdAt | date: "dd 'de' MM 'del' yyyy" }}
              </span>
            </p>
          </div>
          <div>
            <p class="fw-bold brand-text-headline-s text-decoration-underline">
              Estadísticas
            </p>
          </div>
        </section>
      </div>
    </app-base-card>
  </section>
} @else {
  <div class="loader-container">
    <app-loader></app-loader>
  </div>
}
