<div class="profile-container">
    <h2>Perfil de Usuario</h2>
    <form [formGroup]="profileForm" (ngSubmit)=" getUserProfile()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="fullName" [readonly]="!isEditing" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [readonly]="!isEditing" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone" [readonly]="!isEditing" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>URL de Imagen</mat-label>
        <input matInput formControlName="avatarUrl" [readonly]="!isEditing" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput formControlName="username" [readonly]="!isEditing" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" [readonly]="!isEditing" type="password" />
      </mat-form-field>

  
      <div class="action-buttons">
        <button mat-raised-button color="primary" type="submit">
          {{ isEditing ? 'Guardar' : 'Editar Usuario' }}
        </button>
        <button mat-button type="button" (click)="toggleEdit()">
          {{ isEditing ? 'Cancelar' : 'Editar' }}
        </button>
      </div>
    </form>
  </div>
  