/* Fondo de profile */
.profile-cover {
  position: relative;
  height: 150px;
  width: 100%;
  background: linear-gradient(0deg, rgb(101, 81, 174), rgb(63, 59, 151), rgb(31, 110, 128));
  margin-bottom: 90px;
}

/* Contenedor de imagen de profile */
.profile {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}
/* Cargando de perfil */
.loader-container{
  height: 500px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}