/* Fondo de profile */
.profile-cover {
  position: relative;
  height: 150px;
  width: 100%;
  background: linear-gradient(0deg, #f62, #ff9, #ff9);
  margin-bottom: 90px;
}

/* Contenedor de imagen de profile */
.profile {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}


/*  Contenedor de información personal */
.user-info-card {
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

/* Hover effect */
.user-info-card:hover {
  box-shadow: 0 4px 20px rgba(26, 55, 200, 0.996);
}

/* Contenedor de informacion del usuario, hijo de informacion personal */
.user-info-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  border-bottom: 2px solid #2962dc;
  padding-bottom: 10px;
}

.user-info-content {
  font-size: 1rem;
  color: #1d1919;
  line-height: 1.6;
}

.user-info-content p {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #433e3e;
}

.user-info-content p:last-child {
  border-bottom: none;
}

.card-text {
  font-size: 1rem;
  color: #444;
}
