<app-base-page
  title="Configuraciones"
  subtitle="Aquí podrás administrar tu cuenta"
  previusUrl="../../"
>
  <section content class="row">
    <div class="col-12 col-md-6">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
        <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
          <mat-label>Contraseña actual</mat-label>
          <input
            matInput
            [type]="showOldPassword ? 'text' : 'password'"
            formControlName="oldPassword"
            placeholder="Ingresa tu contraseña actual"
          />
          <mat-icon matPrefix>lock_open</mat-icon>
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="toggleOldPasswordVisibility()"
          >
            <mat-icon>{{
              showOldPassword ? 'visibility' : 'visibility_off'
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')"
          >
            La contraseña actual es requerida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            formControlName="newPassword"
            placeholder="Ingresa tu nueva contraseña"
          />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="togglePasswordVisibility()"
          >
            <mat-icon>{{
              showPassword ? 'visibility' : 'visibility_off'
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
          >
            La nueva contraseña es requerida.
          </mat-error>
          <mat-error
            *ngIf="
              !changePasswordForm.get('newPassword')?.hasError('required') &&
              changePasswordForm
                .get('newPassword')
                ?.hasError('passwordStrength')
            "
            >La contraseña debe tener 6 caracteres, con mayúscula, minúscula y
            un carácter especial.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
          <mat-label>Confirmar nueva contraseña</mat-label>
          <input
            matInput
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmNewPassword"
            placeholder="Confirma tu nueva contraseña"
          />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="toggleConfirmPasswordVisibility()"
          >
            <mat-icon>{{
              showConfirmPassword ? 'visibility' : 'visibility_off'
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              changePasswordForm.get('confirmNewPassword')?.hasError('required')
            "
          >
            Es necesario confirmar tu nueva contraseña
          </mat-error>
          <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">
            Las contraseñas no coinciden
          </mat-error>
        </mat-form-field>

        <button mat-fab extended="true" type="submit" color="primary">
          Cambiar contraseña
        </button>
      </form>
    </div>
  </section>
</app-base-page>
