<header
  class="d-flex justify-content-between align-items-center text-white px-4 brand-nav-bar"
>
  <a
    class="text-decoration-none text-white fw-bold brand-cursor-pointer brand-text-headline-m"
    routerLink="/"
  >
    ProjectZen
  </a>

  <button
    class="navbar-toggler d-block d-md-none border-0 bg-transparent"
    type="button"
    mat-icon-button
    [matMenuTriggerFor]="options2"
  >
    <mat-icon>menu</mat-icon>
    <mat-menu #options2="matMenu">
      @if (isLoggedUser) {
        @if (!pageLoading) {
          <button
            routerLink="/profile"
            mat-menu-item
            class="d-flex align-items-center"
            [ngClass]="{ active: optionSelected === 'user' }"
          >
            <img
              [src]="
                user?.avatarUrl ||
                '../../assets/login_and_register/userdefault.png'
              "
              alt="User Image"
              class="user-avatar me-"
              style="width: 30px; height: 30px; border-radius: 50%"
            />
            <span>{{ user?.fullName || 'Invitado' }}</span>
          </button>
        } @else {
          <div class="loader-container">
            <app-loader></app-loader>
          </div>
        }
      }
      <button
        mat-menu-item
        [ngClass]="{ active: optionSelected === 'home' }"
        routerLink="/home"
      >
        Inicio
      </button>
      <button
        mat-menu-item
        routerLink="/about-us"
        [ngClass]="{ active: optionSelected === 'about-us' }"
      >
        Soporte
      </button>
      <button
        mat-menu-item
        [ngClass]="{ active: optionSelected === 'auth' }"
        (click)="manageAuthButton()"
      >
        {{ isLoggedUser ? 'Cerrar sesión' : 'Iniciar sesión' }}
      </button>
    </mat-menu>
  </button>

  <nav class="d-none d-md-flex align-items-center gap-4">
    <a
      class="nav-bar-element text-center brand-text-headline-xs"
      routerLink="home"
      role="button"
      [ngClass]="{ active: optionSelected === 'home' }"
      >Inicio</a
    >
    <a
      class="nav-bar-element text-center brand-text-headline-xs"
      routerLink="/about-us"
      [ngClass]="{ active: optionSelected === 'about-us' }"
      role="button"
      >Soporte</a
    >

    <a
      *ngIf="isLoggedUser; else loginOption"
      class="nav-bar-element text-center brand-text-headline-xs"
      type="button"
      [matMenuTriggerFor]="options"
    >
      @if (!pageLoading) {
        <img
          [src]="
            user?.avatarUrl || '../../assets/login_and_register/userdefault.png'
          "
          alt="User Image"
          class="user-avatar ml-3"
        />
      } @else {
        <div class="loader-container w-50 h-50">
          <app-loader></app-loader>
        </div>
      }
    </a>

    <ng-template #loginOption>
      <a
        class="nav-bar-element text-center brand-text-headline-xs"
        routerLink="/auth/login"
        [ngClass]="{ active: optionSelected === 'auth' }"
        >Iniciar sesión</a
      >
    </ng-template>

    <mat-menu #options="matMenu" class="mt-2">
      <button
        mat-menu-item
        class="d-flex align-items-center"
        routerLink="/profile"
        [ngClass]="{ active: optionSelected === 'user' }"
      >
        @if (!pageLoading) {
          <img
            [src]="
              user?.avatarUrl ||
              '../../assets/login_and_register/userdefault.png'
            "
            alt="User Image"
            class="user-avatar mr-2"
            style="width: 30px; height: 30px; border-radius: 50%"
          />
        } @else {
          <div class="loader-container">
            <app-loader></app-loader>
          </div>
        }
        <span>{{ user?.fullName || 'Invitado' }}</span>
      </button>

      <button mat-menu-item (click)="manageAuthButton()">Cerrar sesión</button>
    </mat-menu>
  </nav>
</header>
