@import url('../../../../assets/styles/variables.css');
.nav-link {
  margin-right: 1rem;
}
.navbar-toggler-icon {
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: var(--heigth-nav-bar);
  right: 0;
  background-color: #343a40;
  width: 100%;
  z-index: 999;
}

.mobile-menu a {
  padding: 16px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #555;
}
