@import 'variables.scss';

.nav-bar-element {
  color: white;
  text-decoration: none;
}

.nav-bar-element:hover {
  color: $primary-hover-color;
}

.nav-bar-element.active {
  font-weight: bold;
  font-size: 18px;
  color: $deep-purple-200;
}
