<app-base-dialog>
  <section header>
    {{ data.elementData?.id ? 'Editar' : 'Agregar' }} elemento
  </section>
  <section subtitle>
    {{ getTraduction(data.elementType) }}
  </section>
  <section content>
    <form [formGroup]="formTest">
      @for (field of getObjectKeys(formTest.controls); track $index) {
        <div class="row mx-0 d-flex flex-column gap-3">
          <mat-form-field appearance="outline" class="mt-2">
            <mat-label>{{ getTraduction(field) || field }}</mat-label>
            @switch (fieldType[field].type) {
              @case ('input') {
                <input
                  matInput
                  [formControlName]="field"
                  [placeholder]="'Ingrese ' + (getTraduction(field) || field)"
                  [attr.data-testid]="'input-' + field"
                />
              }
              @case ('textArea') {
                <textarea
                  matInput
                  [formControlName]="field"
                  [placeholder]="'Ingrese ' + (getTraduction(field) || field)"
                  [attr.data-testid]="'textarea-' + field"
                  maxlength="2000"
                  rows="4"
                ></textarea>
              }
            }

            @if (fieldType[field].type === 'textArea') {
              <mat-hint align="end"
                >{{ formTest.get(field)?.value?.length }}/2000
              </mat-hint>
            }

            @if (
              formTest.get(field)?.hasError('required') &&
              formTest.get(field)?.touched
            ) {
              <mat-error>{{ getTraduction(field) }} es requerido</mat-error>
            }
            @if (
              formTest.get(field)?.hasError('maxlength') &&
              formTest.get(field)?.touched
            ) {
              <mat-error
                >Máximo
                {{ formTest.get(field)?.errors?.['maxlength']?.requiredLength }}
                caracteres</mat-error
              >
            }
          </mat-form-field>
        </div>
      }
    </form>
  </section>
  <section actions class="w-100">
    <div class="row w-100 m-0 justify-content-center justify-content-md-end">
      <div class="col-6 col-md-3 px-1">
        <button
          mat-fab
          extended="true"
          color="warn"
          class="w-100"
          (click)="close()"
        >
          Cancelar
        </button>
      </div>
      <div class="col-6 col-md-3 px-1">
        <button
          mat-fab
          extended="true"
          color="primary"
          class="w-100"
          (click)="save()"
        >
          Guardar
        </button>
      </div>
    </div>
  </section>
</app-base-dialog>
