<section
  content
  class="d-flex w-100 vh-100 justify-content-center align-items-center bg-light"
>
  <div class="col-11 col-md-6 p-5 bg-white border rounded shadow-sm">
    <div class="d-flex justify-content-center align-items-center mb-4">
      <span class="brand-text-headline-xl fw-semibold">Cambiar Contraseña</span>
    </div>
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="onChangePassword()"
      class="row"
    >
      <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
        <mat-label>Nueva contraseña</mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Ingresa tu nueva contraseña"
        />
        <mat-icon matPrefix>lock</mat-icon>
        <button
          matSuffix
          mat-icon-button
          type="button"
          (click)="togglePasswordVisibility()"
        >
          <mat-icon>{{
            showPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
        >
          La nueva contraseña es requerida.
        </mat-error>
        <mat-error
          *ngIf="
            !changePasswordForm.get('newPassword')?.hasError('required') &&
            changePasswordForm.get('newPassword')?.hasError('passwordStrength')
          "
          >La contraseña debe tener 6 caracteres, con mayúscula, minúscula y un
          carácter especial.
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="w-100 mt-4 mt-md-2 mb-2 mt-md-0"
      >
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input
          matInput
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmNewPassword"
          placeholder="Confirma tu nueva contraseña"
        />
        <mat-icon matPrefix>lock</mat-icon>
        <button
          matSuffix
          mat-icon-button
          type="button"
          (click)="toggleConfirmPasswordVisibility()"
        >
          <mat-icon>{{
            showConfirmPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            changePasswordForm.get('confirmNewPassword')?.hasError('required')
          "
        >
          Es necesario confirmar tu nueva contraseña
        </mat-error>
        <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">
          Las contraseñas no coinciden
        </mat-error>
      </mat-form-field>

      <div
        class="d-flex justify-content-center justify-content-md-end row mx-0"
      >
        <div class="col-12 col-md-auto px-0">
          <button
            mat-fab
            extended="true"
            type="submit"
            color="primary"
            class="w-100"
          >
            Cambiar contraseña
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
