<div class="brand-center-content-register-and-login row m-0 pt-0">
  <div class="col-md-6 justify-content-center align-items-center d-flex">
    <img
      src="../../assets/login_and_register/img1.png"
      alt="Descripción de la imagen"
      class="brand-only-desktop-test"
    />
  </div>

  <section class="col-md-6 text-center p-3">
    <h3 class="fw-bold m-0 p-0">Registrarse</h3>
    <p class="mb-0">Crea una nueva cuenta</p>
    <mat-horizontal-stepper
      [linear]="true"
      #stepper
      class="w-100 h-100 bg-white"
    >
      <mat-step [stepControl]="formStep1">
        <form [formGroup]="formStep1" class="d-flex flex-column">
          <ng-template matStepLabel>Información Personal</ng-template>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2">
            <mat-label>Tipo de Identificación</mat-label>
            <mat-select formControlName="identificationTypeId" required>
              <mat-option value="" disabled selected
                >Seleccione su tipo de documento</mat-option
              >
              <mat-option
                *ngFor="let type of identificationTypes"
                [value]="type.id"
              >
                {{ type.type }}
              </mat-option>
            </mat-select>
            <mat-icon matPrefix>table_chart</mat-icon>
            <mat-error
              *ngIf="
                formStep1.get('identificationTypeId')?.hasError('required')
              "
            >
              Tipo de identificación requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
            <mat-label>Identificación</mat-label>
            <input matInput formControlName="identification" required />
            <mat-icon matPrefix>credit_card</mat-icon>
            <mat-error
              *ngIf="formStep1.get('identification')?.hasError('required')"
            >
              Número de identificación requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
            <mat-label>Nombre Completo</mat-label>
            <input matInput formControlName="fullName" required />
            <mat-icon matPrefix>account_box</mat-icon>
            <mat-error *ngIf="formStep1.get('fullName')?.hasError('required')">
              Nombre completo requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" required />
            <mat-icon matPrefix>email</mat-icon>
            <mat-error *ngIf="formStep1.get('email')?.hasError('required')">
              Email requerido
            </mat-error>
            <mat-error *ngIf="formStep1.get('email')?.hasError('email')">
              Email inválido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phone" />
            <mat-icon matPrefix>phone</mat-icon>
            <mat-error *ngIf="formStep1.get('phone')?.hasError('required')">
              Email requerido
            </mat-error>
            <mat-error *ngIf="formStep1.get('phone')?.hasError('pattern')">
              El número debe empezar por 3 y tener un máximo de 10 números
            </mat-error>
          </mat-form-field>

          <div actions class="w-100 align-content-center">
            <section class="d-flex row gap-md-0 gap-1 justify-content-end">
              <div class="col-12 col-md-5 col-lg-3 px-1">
                <button mat-fab extended="true" class="w-100" matStepperNext>
                  Siguiente
                </button>
              </div>
            </section>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="formStep2">
        <form [formGroup]="formStep2" class="d-flex flex-column">
          <ng-template matStepLabel>Tu cuenta</ng-template>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2">
            <mat-label>URL de Imagen</mat-label>
            <input matInput formControlName="avatarUrl" />
            <mat-icon matPrefix>image</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput formControlName="username" required />
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="formStep2.get('username')?.hasError('required')">
              Nombre de usuario requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
            <mat-label>Contraseña</mat-label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              matInput
              formControlName="password"
              required
            />
            <mat-icon matPrefix>lock</mat-icon>
            <button
              matSuffix
              mat-icon-button
              (click)="showPassword = !showPassword"
            >
              <mat-icon>{{
                showPassword ? 'visibility' : 'visibility_off'
              }}</mat-icon>
            </button>
            <mat-error *ngIf="formStep2.get('password')?.hasError('required')">
              Contraseña requerida
            </mat-error>
            <mat-error
              *ngIf="
                !formStep2.get('password')?.hasError('required') &&
                formStep2.get('password')?.hasError('passwordStrength')
              "
              >La contraseña debe tener 6 caracteres, con mayúscula, minúscula y
              un carácter especial.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mt-3 mb-2 mt-md-0">
            <mat-label>Confirmar Contraseña</mat-label>
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              matInput
              formControlName="confirmPassword"
              required
            />
            <mat-icon matPrefix>lock</mat-icon>
            <button
              matSuffix
              mat-icon-button
              (click)="showConfirmPassword = !showConfirmPassword"
            >
              <mat-icon>{{
                showConfirmPassword ? 'visibility' : 'visibility_off'
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="formStep2.get('confirmPassword')?.hasError('required')"
            >
              Contraseña requerida
            </mat-error>
            <mat-error *ngIf="formStep2.hasError('passwordMismatch')">
              Las contraseñas no coinciden
            </mat-error>
          </mat-form-field>

          <section class="d-flex row gap-md-0 gap-1 justify-content-end">
            <div class="col-12 col-md-5 col-lg-3 mt-1">
              <button
                mat-stroked-button
                extended="true"
                class="w-100 mr-3"
                color="primary"
                matStepperPrevious
              >
                Anterior
              </button>
            </div>
            <div class="col-12 col-md-5 col-lg-3 mt-1">
              <button
                mat-fab
                extended="true"
                color="primary"
                class="w-100"
                (click)="save()"
              >
                Registrarse
              </button>
            </div>
          </section>
        </form>
      </mat-step>
    </mat-horizontal-stepper>

    <div
      class="text-center mt-0 d-flex flex-column justify-content-center align-items-center"
    >
      <span>¿Ya tienes una cuenta?</span>
      <a routerLink="/auth/login" class="text-decoration-none">
        Inicia sesión aquí
      </a>
    </div>
  </section>
</div>
