<app-base-dialog>
  <section header class="row">
    <span class="col-12 col-md-8 d-flex flex-row align-items-center">
      <span
        [ngClass]="
          'priority-' + getPriorityInfo(data.task.priority.id, 'class')
        "
        class="priority-badge"
      >
        <mat-icon [matTooltip]="data.task.priority.title">{{
          getPriorityInfo(data.task.priorityId, 'icon')
        }}</mat-icon>
      </span>
      <span class="title">
        {{ data.task.title }}
      </span>
    </span>
    <div
      class="col-12 col-md-4 mt-3 mt-md-0 d-flex justify-content-center justify-content-md-end"
    >
      <span
        class="brand-text-body-m brand-date-formated text-center"
        [matTooltip]="'Fecha límite: ' + data.task.deadline"
      >
        {{ data.task.deadline | timeAgo: 'left' }}
      </span>
    </div>
  </section>
  <section content class="d-flex flex-column gap-2">
    @if (!isEditing) {
      <span
        class="mt-2 d-flex flex-row gap-1 justify-content-center tag-container"
        ><strong></strong>
        @for (taskTag of data.task.taskTags; track $index) {
          <span class="tag brand-text-body-l fw-semibold"
            >#{{ taskTag.tag.title }}</span
          >
        }
      </span>
      <span class="brand-text-body-xl text-black-50 fw-medium">
        {{ data.task.description }}
      </span>
    } @else {
      <form [formGroup]="form" class="d-flex flex-column gap-2 mt-3">
        <div class="row w-100 mx-0">
          <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <input
              matInput
              formControlName="title"
              placeholder="Ingrese un título"
            />
            <mat-error *ngIf="form.get('title')?.hasError('required')">
              El título es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row mx-0 w-100">
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Ingrese una descripción"
            ></textarea>
            <mat-error *ngIf="form.get('description')?.hasError('required')">
              La descripción es requerida
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row w-100 mx-auto">
          <mat-form-field
            appearance="outline"
            class="col-12 col-md-6 gap-2 gap-md-0"
          >
            <mat-label>Estado</mat-label>
            <mat-select formControlName="statusId" placeholder="Elije un valor">
              @for (status of statuses; track $index) {
                <mat-option [value]="status.id">{{ status.title }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('statusId')?.hasError('required')">
              El estado es requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-6">
            <mat-label>Miembro</mat-label>
            <mat-select formControlName="memberId" placeholder="Elije un valor">
              @for (member of data.members; track $index) {
                <mat-option [value]="member.id">{{
                  member.user.fullName
                }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('memberId')?.hasError('required')">
              El miembro es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row w-100 mx-0">
          <mat-form-field appearance="outline">
            <mat-label>Etiquetas</mat-label>
            <mat-select formControlName="tagIds" multiple="true">
              @for (tag of tags; track $index) {
                <mat-option [value]="tag.id">{{ tag.title }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('taskTags')?.hasError('required')">
              Las etiquetas son requeridas
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    }
  </section>
  <section actions class="w-100">
    <div class="row w-100 m-0 justify-content-center justify-content-md-end">
      <div class="col-6 col-md-3 px-1">
        <button
          mat-fab
          extended="true"
          color="warn"
          class="w-100"
          (click)="isEditing ? (isEditing = false) : close()"
        >
          {{ isEditing ? 'Volver' : 'Cancelar' }}
        </button>
      </div>
      <div class="col-6 col-md-3 px-1">
        <button
          mat-fab
          extended="true"
          color="primary"
          class="w-100"
          (click)="!isEditing ? (isEditing = true) : save()"
          [disabled]="isEditing && isUpdating"
        >
          {{ isEditing ? 'Guardar' : 'Editar' }}
        </button>
      </div>
    </div>
  </section>
</app-base-dialog>
