<app-base-dialog>
  <section header>
    {{ data?.member ? 'Editar miembro' : 'Agregar miembro' }}
  </section>
  <!-- <section subtitle>ola2</section> -->
  <section content>
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field appearance="outline" class="col-12 mt-2">
          <mat-label>Usuario</mat-label>

          <input
            type="text"
            placeholder="Buscar usuario..."
            matInput
            formControlName="user"
            [matAutocomplete]="user"
          />
          <mat-autocomplete #user="matAutocomplete" [displayWith]="fullName">
            @for (user of users; track $index) {
              <mat-option [value]="user">{{ user?.fullName }}</mat-option>
            }
          </mat-autocomplete>

          @if (form.get('user')?.hasError('required')) {
            <mat-error>El usuario es requerido</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="col-12 mt-2">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="projectRoleId" placeholder="Rol">
            @for (rol of projectRoles; track $index) {
              <mat-option [value]="rol.id">{{ rol?.roleName }}</mat-option>
            }
          </mat-select>
          @if (form.get('projectRoleId')?.hasError('required')) {
            <mat-error>El rol es requerido</mat-error>
          }
        </mat-form-field>
      </div>
    </form>
  </section>
  <section actions class="w-100">
    <div class="row w-100 m-0 justify-content-center justify-content-md-end">
      <div class="col-6 col-md-3 px-1">
        <button
          mat-fab
          extended="true"
          color="warn"
          class="w-100"
          (click)="closeDialog()"
        >
          Cancelar
        </button>
      </div>
      <div class="col-6 col-md-3 px-1">
        <button
          mat-fab
          extended="true"
          color="primary"
          class="w-100"
          (click)="save()"
        >
          Guardar
        </button>
      </div>
    </div>
  </section>
</app-base-dialog>
