<app-base-page
  title="Editar usuario"
  subtitle="Aquí puedes editar tu información personal"
  previusUrl="../../"
>
  <section content class="row">
    @if (!pageLoading) {
      <div class="col-12 col-md-6">
        <form [formGroup]="form">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Nombre completo</mat-label>
              <input type="text" matInput formControlName="fullName" />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input type="text" matInput formControlName="username" />
              <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input type="text" matInput formControlName="phone" />
              <mat-icon matPrefix>phone</mat-icon>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Url de imagen</mat-label>
              <input matInput formControlName="avatarUrl" />
              <mat-icon matPrefix> insert_link</mat-icon>
            </mat-form-field>
          </div>
        </form>
        <button
          mat-fab
          extended="true"
          type="button"
          color="primary"
          (click)="saveInfo()"
        >
          Guardar
        </button>
      </div>
    } @else {
      <div class="loader-container">
        <app-loader></app-loader>
      </div>
    }
  </section>
</app-base-page>
