<div class="brand-center-content">
  <div class="card shadow-lg p-4 col-md-6">
    <h5 class="fw-bold m-0 p-0">Recupera tu contraseña</h5>

    <form [formGroup]="resetPasswordForm">
      <mat-form-field appearance="outline" class="w-100 mt-3">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Ingresa tu correo electrónico"
          class="form-control"
        />
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
          El correo es obligatorio.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">
          Ingresa un correo válido.
        </mat-error>
      </mat-form-field>

      <section class="d-flex row gap-md-0 gap-1 justify-content-end">
        <div class="col-12 col-md-5 col-lg-3 mt-1">
          <button
            mat-stroked-button
            color="primary"
            class="w-100"
            routerLink="/auth/login"
          >
            Volver
          </button>
        </div>
        <div class="col-12 col-md-5 col-lg-3 mt-1">
          <button
            mat-fab
            extended="true"
            color="primary"
            class="w-100"
            [disabled]="resetPasswordForm.invalid"
            (click)="onResetPassword()"
          >
            Enviar
          </button>
        </div>
      </section>
    </form>
  </div>
</div>
