<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4 w-100">
    <h5 class="text-center mb-4">Recuperar Contraseña</h5>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
      <div class="form-group mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Ingresa tu correo electrónico"
          />
          <mat-error
            *ngIf="resetPasswordForm.get('email')?.hasError('required')"
          >
            El correo es obligatorio.
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">
            Ingresa un correo válido.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="d-grid">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="resetPasswordForm.invalid"
          class="btn btn-primary"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
