<app-base-page
  [title]="'Proyectos'"
  [subtitle]="'Aquí encontrarás los proyectos a los que perteneces'"
  previusUrl="/home"
>
  <section content>
    @if (!pageLoading) {
      @if (projects?.length) {
        <div class="projects-grid">
          @for (project of projects; track $index) {
            <app-base-card
              [routerLink]="project.id ? [project.id] : []"
              class="brand-cursor-pointer"
              [ripple]="true"
            >
              <div header>
                {{ project.title }}
              </div>
              <div content class="d-flex flex-column gap-2">
                <span class="brand-text-body-m text-black-50 fw-medium">
                  {{ project.description }}
                </span>
                <div>
                  <strong>Categorías: </strong>
                  @for (tag of project.projectCategories; track $index) {
                    <span>{{
                      tag.category.title
                        | arrayInlineFormater
                          : $index + 1 === project.projectCategories?.length
                    }}</span>
                  }
                </div>
                @if (project.members) {
                  <span>
                    <strong>Rol: </strong>
                    {{ project.members[0]?.projectRole?.roleName }}
                  </span>
                }
                <div class="d-flex flex-column">
                  <span>
                    <strong class="text-muted">Fecha de inicio: </strong>
                    {{ project.createdAt | date: 'dd/MM/yyyy' }}
                  </span>
                  <span>
                    <strong class="text-muted">Fecha de fin: </strong>
                    {{ project.finishDate | date: 'dd/MM/yyyy' }}
                  </span>
                </div>
              </div>
              <div actions>
                @if (userLoggedIsLeader(project)) {
                  <button
                    [disabled]="!userLoggedIsLeader(project)"
                    mat-icon-button
                    extended="true"
                    color="primary"
                    (click)="openDeleteProjectDialog(project, $event)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button
                    [disabled]="!userLoggedIsLeader(project)"
                    mat-icon-button
                    extended="true"
                    color="primary"
                    (click)="openEditProjectDialog(project, $event)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                }
              </div>
            </app-base-card>
          }
        </div>
      } @else {
        <app-empty-panel></app-empty-panel>
      }
    } @else {
      <app-loader></app-loader>
    }
  </section>
  <div
    actions
    class="w-100 d-flex justify-content-center justify-content-md-end"
  >
    @if (!pageLoading) {
      <div class="col-12 col-md-3">
        <button
          mat-stroked-button
          color="primary"
          routerLink="./create"
          class="w-100"
        >
          Crear proyecto
        </button>
      </div>
    }
  </div>
</app-base-page>
