<footer class="footer py-2 w-100 text-light brand-footer align-content-center">
  <div class="d-flex justify-content-around align-items-center row w-100 m-0">
    <div class="col-12 col-md-6 text-center">
      <span>© 2024 ProjectZen</span>
    </div>
    <div class="d-flex gap-3 col-12 col-md-6 justify-content-center">
      <a href="#" class="footer-link">Terms</a>
      <a href="#" class="footer-link">Privacy</a>
      <a href="#" class="footer-link">Security</a>
      <a href="#" class="footer-link">Docs</a>
      <a href="#" class="footer-link">Contact</a>
    </div>
  </div>
</footer>
