/* Importar el archivo de variables si es necesario */
@import url('variables.css');

/* fadeIn keyframe */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animación de fadeIn */
.brand-animation-fadeIn {
  animation: fadeIn var(--brand-default-animations-duration) ease;
}

/* Animación progressive con desenfoque */
.brand-animation-progressive {
  filter: blur(10px);
  transition: filter 0.1s ease-out;
  animation: blurAnimation 0.1s ease-out forwards;
}

/* Keyframe para la animación de desenfoque */
@keyframes blurAnimation {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}
