@use '@angular/material' as mat;

$deep-purple-50: #ede7f6;
$deep-purple-100: #d1c4e9;
$deep-purple-200: #b39ddb;
$deep-purple-300: #9575cd;
$deep-purple-400: #7e57c2;
$deep-purple-500: #673ab7;
$deep-purple-600: #5e35b1;
$deep-purple-700: #512da8;
$deep-purple-800: #4527a0;
$deep-purple-900: #311b92;
$deep-purple-A100: #b388ff;
$deep-purple-A200: #7c4dff;
$deep-purple-A400: #651fff;
$deep-purple-A700: #6200ea;

$error-red: #eb2f28;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$brand-palette: (
  50: $deep-purple-50,
  100: $deep-purple-100,
  200: $deep-purple-200,
  300: $deep-purple-300,
  400: $deep-purple-400,
  500: $deep-purple-500,
  600: $deep-purple-600,
  700: $deep-purple-700,
  800: $deep-purple-800,
  900: $error-red,
  A100: $deep-purple-A100,
  A200: $deep-purple-A200,
  A400: $deep-purple-A400,
  A700: $deep-purple-A700,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$brand-primary: mat.m2-define-palette($brand-palette, 700);
$brand-accent: mat.m2-define-palette($brand-palette, 300);
$brand-warn: mat.m2-define-palette($brand-palette, 900);

// Definir el tema basado en colores claros
$custom-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $brand-primary,
      accent: $brand-accent,
      warn: $brand-warn
    )
  )
);

// Aplicar los estilos de componentes globalmente
@include mat.all-component-themes($custom-theme);

mat-button {
  background-color: mat.m2-get-color-from-palette($brand-primary);
  color: mat.m2-get-color-from-palette($brand-accent, default-contrast);

  &:hover {
    background-color: mat.m2-get-color-from-palette($brand-primary, 200);
  }
}
