<app-base-page title="Configuraciones" subtitle="Aquí podrás administrar tu cuenta" previusUrl="../../">
    <div content>
        <app-base-card>
            <div header>
                Cambia tu contraseña
            </div>
            <div content>
                <p class="card-text">Cambia tu contraseña actual para evitar inicios de sesión fallidos.</p>
                <div class="col-12 col-md-3">
                <button mat-stroked-button routerLink="/change-password" color="primary" class="w-100">Cambiar contraseña</button>
            </div>
            </div>

        </app-base-card>
    </div>
</app-base-page>