<app-base-page title="Crea tus usuarios" subtitle="Aquí puedes gestionar usuarios con sus respectivos roles" previousUrl="/home">

            <div header>
                Crear usuario
            </div>
            <div content>
                <!-- Formulario para crear un nuevo usuario -->
            </div>
            <div actions>
                <button mat-flat-button color="primary">
                    Guardar
                </button>
                <button mat-flat-button>
                    Cancelar
                </button>
            </div>


</app-base-page>